# Problem set 05 (50 points)
---

The following 4 problems will require you to (A) write a SQL query that will extract specific data from the 3 tables in the following database and (B) write what the outputted data would look like in tabular form.

Table 1: **Patients**
| patient_id | last_name | first_name | date_of_birth |
| ---------- | --------- | ---------- | ------------- |
| 4309872    | Smith     | John       | 1959-01-02    |
| 0973407    | Doe       | Jane       | 1970-04-17    |
| 8973582    | Collins   | Thomas     | 1984-10-30    |
| 9823741    | Parker    | Sarah      | 1988-06-21    |

Table 2: **Prescriptions**
| script_id | date_of_script | patient_id | ndc           |
| --------- | -------------- | ---------- | ------------- |
| 100       | 2021-01-01     | 4309872    | 4929910924    |
| 101       | 2021-01-11     | 8973582    | 5038392493    |
| 102       | 2021-02-12     | 8973582    | 5038392493    |
| 103       | 2021-02-14     | 9823741    | 0140000501    |
| 104       | 2021-02-14     | 0973407    | 6042911101    |
| 105       | 2021-04-01     | 4309872    | 4929910924    |
| 106       | 2021-04-06     | 0973407    | 6042911101    |
| 107       | 2021-05-07     | 8973582    | 5038392493    |
| 108       | 2021-05-26     | 0973407    | 6042911101    |
| 109       | 2021-05-29     | 9823741    | 0140000501    |
| 110       | 2021-07-01     | 4309872    | 4929910924    |
| 111       | 2021-07-16     | 0973407    | 6042911101    |
| 112       | 2021-09-03     | 9823741    | 0140000501    |
| 113       | 2021-09-05     | 0973407    | 6042911101    |
| 114       | 2021-10-01     | 4309872    | 4929910924    |

Table 3: **Drug_Info**
| ndc        | ingredient_name         | dose       | quantity | route_of_delivery  |
| ---------- | -----------------       | ---------- | -------- | ------------------ |
| 5038392493 | buprenorphine           | 2 mg       | 30       | sublingual tablets |
| 0140000501 | diazepam                | 5 mg       | 100      | oral tablets       |
| 6042911101 | metformin hydrochloride | 500 mg     | 100      | oral tablets       |
| 4929910924 | atorvastatin calcium    | 40 mg      | 90       | oral tablets       |

## Problem 01 (10 points)
(A) Write a query statement that pulls the first name, last name, and date of birth for only patients with a date of birth after 1980.

## Answer 01 A

(B) Write what the outputted data will look like in tabular form. (Use the template below for tabulating the resulting output)

## Answer 01 B

| Column 1   | Column_2         | Column_3       |
| ---------- | ---------------- | -------------- |
|            |                  |                |

## Problem 02 (12 points)
(A) Write a statement that inserts a new record in the Prescriptions table where:
- script_id is incremented by 1 from the last record
- Jane Doe receives a prescription for atorvastatin
- the date_of_script is 2021-10-05

## Answer 02 A

(B) Write what the new record will look like in tabular form. (Use the template below for tabulating the resulting output)

## Answer 02 B

| Column 1   | Column_2         | Column_3       |
| ---------- | ---------------- | -------------- |
|            |                  |                |

## Problem 03 (12 points)
(A) Write a statement that pulls the date_of_script, patient_id, ndc, and ingredient_name for all prescriptions from 2021-01-01 to 2021-05-01.

## Answer 03 A

(B) Write what the outputted data will look like in tabular form. (Use the template below for tabulating the resulting output)

## Answer 03 B

| Column 1   | Column_2         | Column_3       |
| ---------- | ---------------- | -------------- |
|            |                  |                |

## Problem 04 (16 points)
(A) Write a statement that pulls the date_of_script, patient_id, last_name, ndc, ingredient_name, and dose for all prescriptions for Thomas Collins and sort them in descending order based on date_of_script.

## Answer 04 A

(B) Write what the outputted data will look like in tabular form. (Use the template below for tabulating the resulting output)

## Answer 04 B

| Column 1   | Column_2         | Column_3       |
| ---------- | ---------------- | -------------- |
|            |                  |                |